body{
    /* background-image: url(img/img.jpg);
    background-size:cover; */
    
}

.landpage {
    color: rgb(0, 0, 0);
    position: relative; 
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landpage::before {    
    content: "";
    background-image: url('/img/s.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}

.landpage p{
    background: -webkit-linear-gradient(#22cbff, #24013b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  /* color: #150624;   */
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
  /* background: -webkit-linear-gradient(#22cbff, #340157);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.about{
    background-color:rgba(201, 225, 255, 0.74);
    color: black;
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 7vh;
    font-size: 1.4rem;
}

.row{
    margin-top: 20px;
}
#button{
    display: flex;
     
}
.aboutlogo{
    text-decoration: none;
}



.btn-hover{
    /* z-index: 1; */
    width: 11vw;
    border-radius: 10px;
    height: 8vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, rgb(56, 12, 92), #13a1ff) border-box;
    color: #000000;
    border: 5px solid transparent;
    display: inline-block;
    font-size: 1.5rem;
      
}
