body{

    background-image: url(img/img.jpg);
    background-size:cover;
}
.carsual{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 249px;
    margin-top: 200px;
    margin-bottom: 100px;

}   
.about{
    background-color:silver;
    margin-top: 50px;
}

.down-btn{
	display: inline-block;
	text-decoration: none;
	color: rgb(11, 151, 239);
	border: 1px solid white;
	padding: 12px 34px;
	font-size: 17px;
	background: purple;
	position: relative;
	cursor: pointer;
}
.down-btn:hover{
	border: 1px solid rgb(11, 0, 11);
	background: violet;
	transition: 1s;
}

#button{
    display: flex;
     
}
.aboutlogo{
    text-decoration: none;
}
